
span.icon > [class^="icon-"], span.icon > [class*=" icon-"] { cursor: default; }
.admonitionblock>table td.icon{font-size: 2.5em;text-align:center;width:80px;}
.admonitionblock>table td.icon img{max-width:none}
.admonitionblock>table td.icon .title{
    font-weight:bold;
    font-family:"Open Sans","DejaVu Sans",sans-serif;text-transform:uppercase;
    font-size:2.0em;
}
.admonitionblock td.icon [class^="icon-"]:before { font-size: 2.5em; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); cursor: default; }
.admonitionblock td.icon .icon-note:before { content: "\f05a"; color: #d2e943; color: #b1c918; }
.admonitionblock td.icon .icon-tip:before { content: "\f0eb"; text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8); color: #111; }
.admonitionblock td.icon .icon-warning:before { content: "\f071"; color: #bf6900; }
.admonitionblock td.icon .icon-caution:before { content: "\f06d"; color: #bf3400; }
.admonitionblock td.icon .icon-important:before { content: "\f06a"; color: #bf0000; }

.conum { display: inline-block; color: white !important; background-color: #5abf00; -webkit-border-radius: 100px; border-radius: 100px; text-align: center; font-size: .80em;width:1.67em;height:1.67em;line-height:1.67em; font-weight: bold; font-family: Arial, sans-serif; font-style: normal}
.conum * { color: white !important; }
.conum + b { display: none; }
.conum:after { content: attr(data-value); }
.conum:not([data-value]):empty { display: none; }

#header > h1 { border-bottom-style: solid; }

#toctitle { color: #333333; }

.listingblock > .content > pre, .literalblock > .content > pre { background: -moz-linear-gradient(top, white 0%, #f4f4f4 100%); background: -webkit-linear-gradient(top, white 0%, #f4f4f4 100%); background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%); -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); }

.sidebarblock { background: none; border: none; -webkit-box-shadow: 0 0 5px rgba(118, 137, 4, 0.5); box-shadow: 0 0 5px rgba(118, 137, 4, 0.5); }
.sidebarblock > .content > .title { color: #181818; }

table.linenotable td.linenos {
    border-right: 1px solid rgba(255,255,255,.60);
    opacity: .60;
    padding-right: .5em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.colist td:not([class]):first-child {
    padding: .4em .5em 0;
    line-height: 1;
    vertical-align: top;
}

.colist td:not([class]):last-child {
    padding: .25em 0;
}