<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.4de8581470b22f9b779e5f6bbc2192dfb16fec56aad6d0e411afe5161d5bfe64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.8ad849023e260d0a36056e5337c70ea85d2f4a6e6b4b8b27b54f846901dcc7fe.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.3fb66335d0a1dc216d66dc81a8b25323bc59b6f1066a0cbb7dfb0f5985530c66.png">
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.d28aeba1386207ac0c6f84bb48ac08b6ca57775573294b6263c3fcb4ea677c58.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="https://www.maoudia.com">
    <meta name="application-name" content="https://www.maoudia.com">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
</head>