{{ if .Resources.GetMatch "featuredImage.*" }}
    <div class="featured-image webfeedsFeaturedVisual">
        <a href="{{ .Permalink }}" alt="article with featured image">
            {{ if and (.Site.Params.resizeImages | default true) (.Params.resizeImages | default true) }}
                <img src="{{ ((.Resources.GetMatch "featuredImage.*").Fill "1200x600 q95").RelPermalink }}" width="1200" height="600" alt="featured image">
            {{ else }}
                <img src="{{ (.Resources.GetMatch "featuredImage.*").RelPermalink }}" width="1200" height="600" alt="featured image">
            {{ end }}
        </a>
    </div>
{{ else if and (isset .Params "featuredimage") (ne .Params.featuredImage "") }}
    <div class="featured-image webfeedsFeaturedVisual">
        <a href="{{ .Permalink }}" alt="article with featured image">
            <img src="{{ .Params.featuredImage | relURL }}" width="1200" height="600" alt="featured image">
        </a>
    </div>
{{ end }}
