{{ define "main" }}

<div class="content">
    <div class="article-wrapper u-cf single">
        <article class="error404 article">
            <div class="content">
			<h1>{{ i18n "pageNotFound" }}</h1>
            <p></p>
            <p>{{ i18n "errorMessagePart1" }}<a href="{{ "/" | relLangURL}}" title="{{ i18n "homePage" }}">{{ i18n "homePage" }}</a>.</p>
            <p></p>
            <p>{{ i18n "errorMessagePart2" }} <a href="https://github.com/aoudiamoncef/maoudia.com/issues" target="_blank" rel="noopener noreferrer">{{ i18n "issue" }}</a> {{ i18n "errorMessagePart3" }}.</p>
            </div>
        </article>
    </div>
</div>
{{ end }}
