{{/*  <!DOCTYPE html>
<html>

<head>
  <title>{{ .Permalink }}</title>
  <link rel="canonical" href="{{ .Permalink }}" />
  <meta name="robots" content="noindex">
  <meta charset="utf-8" />
  <link rel="webmention" href="https://webmention.io/maoudia.com/webmention"/>
  <link rel="pingback" href="https://webmention.io/maoudia.com/xmlrpc"/>
  <noscript>
    <meta http-equiv="refresh" content="0; url={{ .Permalink }}" />
  </noscript>
  <script>
    ; (function () {
      // Only do i18n at root, 
      // otherwise, redirect immediately
      const bases = ["/404.html",  "/404/", "/404","/offline/index.html",  "/offline/", "/offline"];
      const pathname = window.location.pathname;
      if (!bases.includes(pathname)) {
        window.location.replace('{{ .Permalink }}')
        return
      }

      var getFirstBrowserLanguage = function () {
        var nav = window.navigator,
          browserLanguagePropertyKeys = ['language', 'browserLanguage', 'systemLanguage', 'userLanguage'],
          i,
          language

        if (Array.isArray(nav.languages)) {
          for (i = 0; i < nav.languages.length; i++) {
            language = nav.languages[i]
            if (language && language.length) {
              return language
            }
          }
        }

        // support for other well known properties in browsers
        for (i = 0; i < browserLanguagePropertyKeys.length; i++) {
          language = nav[browserLanguagePropertyKeys[i]]
          if (language && language.length) {
            return language
          }
        }
        return 'en'
      }

      var preferLang = getFirstBrowserLanguage()
      if (preferLang.indexOf('fr') !== -1) {
        // visitor prefers French
        window.location.replace(`${pathname}fr/`)
      } else {
        // fallback to English
        window.location.replace(`${pathname}/`)
      }
    })()
  </script>
</head>

<body>
  <div class="content">
    <div class="article-wrapper u-cf single">
        <article class="error404 article">
            <div class="content">
			<h1>{{ i18n "reroute" }}</h1>
            <p></p>
            <p>{{ i18n "errorMessagePart1" }}<a href="{{ "/" | relLangURL}}" title="{{ i18n "homePage" }}"> {{ i18n "homePage" }}</a>.</p>
            <p></p>
            <p>{{ i18n "errorMessagePart2" }} <a href="https://github.com/aoudiamoncef/maoudia.com/issues" target="_blank" rel="noopener noreferrer">{{ i18n "issue" }}</a> {{ i18n "errorMessagePart3" }}.</p>
            </div>
        </article>
    </div>
</div>
</body>

</html>  */}}